
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
 background-color: grey;
 margin: 0;

}

main{
 border: 5px solid greenyellow;
 height: 85vh;
 margin: 5% 5% 5%;
}

button {
    width: 150px;
    height: 50px;
}

.slotReel{
    position:relative;
    background-color: salmon;
    border: 1px solid black ;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding:0;
    overflow: hidden;
    transform-origin: center;
    list-style-type: none;
}

.symbol{
    position: absolute;
    left:-100%; 
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top:20px;
}


li {
    overflow: hidden;
    position: absolute;
    border:1px solid black;
    /* top:0; */
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: bottom left;
}

  
  

.Cherry{
    transform: rotate(0deg) skewY(-60deg);
}
.Bar{
    transform: rotate(30deg) skewY(-60deg);
}
.Diamond{
    transform: rotate(60deg) skewY(-60deg);
}
.Emerald{
    transform: rotate(90deg) skewY(-60deg);
}
.Ruby{
    transform: rotate(120deg) skewY(-60deg);
}
.Apple{
    transform: rotate(150deg) skewY(-60deg);
}
.Orange{
    transform: rotate(180deg) skewY(-60deg);
}
.Banana{
    transform: rotate(210deg) skewY(-60deg);
}
.Lemon{
    transform: rotate(240deg) skewY(-60deg);
}
.Avocado{
    transform: rotate(270deg) skewY(-60deg);
}
.luckySeven{
    transform: rotate(300deg) skewY(-60deg);
}
.Crown{
    transform: rotate(330deg) skewY(-60deg);
}

 
