
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
 margin: 0;
 background-image: url(images/casino_card_bg.jpg);
 background-color: rgb(111, 83, 55);
 background-size: cover;
}

main{
 /* border: 5px solid greenyellow; */
 height: 85vh;
 margin: 5% 5% 5%;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center; 
}

section{
    margin:0 0.5em;
}

h1{
    color: rgb(231, 214, 193);
    margin: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reelWrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em;
    
}

#playerInfo{
     margin: 1em;
     width: 800px;
     display: flex;
     flex-direction: row;
     align-items: baseline;
 }

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 228, 218);
    margin:0.5em;
    font-size: 20px;
    height: 50px;

}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 150px;
    height: 50px;
    margin: 0.5em;
}

.slotReel{
    position:relative;
    background-color: rgb(129, 99, 24);
    border: 1px solid rgb(227, 185, 68) ;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding:0;
    overflow: hidden;
    transform-origin: center;
    list-style-type: none;
    
}

.symbol{
    position: absolute;
    left:-100%; 
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top:20px;
}


li {
    overflow: hidden;
    position: absolute;
    border:1px solid rgb(77, 40, 4);
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: bottom left;
}

.selected{
    opacity: 90%;
    border: 1px solid gold;
    background-color:gold;
    /* box-shadow: gold 10px 10px 10px 10px; */
}

.gameOver{
    z-index: 100;
    border-radius: 20px;
    position: absolute;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
    background-color: rgb(54, 4, 4);
    color: rgb(231, 214, 193);
    height: 90%;
    width: 97.3%;
}

img {
    display:inline;
    position: relative;
    top: 70px;
    width: 30%;
    height: 30%;
}



.Cherry{
    transform: rotate(0deg) skewY(-60deg);
}
.Bar{
    transform: rotate(30deg) skewY(-60deg);
}
.Diamond{
    transform: rotate(60deg) skewY(-60deg);
}
.Emerald{
    transform: rotate(90deg) skewY(-60deg);
}
.Ruby{
    transform: rotate(120deg) skewY(-60deg);
}
.Apple{
    transform: rotate(150deg) skewY(-60deg);
}
.Orange{
    transform: rotate(180deg) skewY(-60deg);
}
.Banana{
    transform: rotate(210deg) skewY(-60deg);
}
.Lemon{
    transform: rotate(240deg) skewY(-60deg);
}
.Avocado{
    transform: rotate(270deg) skewY(-60deg);
}
.luckySeven{
    transform: rotate(300deg) skewY(-60deg);
}
.Crown{
    transform: rotate(330deg) skewY(-60deg);
}



